<html lang="<%= props.lang %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Thread Page <%= props.pageNumber %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="gallery/tobii.min.css">
  </head>
  <body>
    <div class="container">
      <main>
        <%- include('partial/tweet', { tweet: props.tweet }) %> 
      </main>
      <footer class="pagination">
        <% if (props.pageNumber !== 1) { %>
        <a href="<%= props.pageNumber - 1 %>.html">Previous</a>
        <% } %>
        <% if (props.pageNumber !== props.totalPages) { %>
          <a href="<%= props.pageNumber + 1 %>.html">Next</a>
        <% } %>

        <% for( let index = 1; index <= props.totalPages; index++ ) { %>
          <a
          <% if (index === props.pageNumber) { %>
            aria-current="page" class="active"
          <% } %>
          href="<%= index %>.html">
          <%= index %> 
        </a>
        <% } %>
      </footer>
    </div>
    <script src="tobii.min.js"></script>
  </body>
</html>
